.h1{text-align: center;
    
}

.img{
    width: 380px;
    margin:auto;
    border: 3px solid #121212;
    display: block;
}
.top{
    text-align: center;
    margin:5px 0px 0px 0px;
    font-size: 25px;
}
.top2{
    text-align: center;
  margin: 2px 0px 0px 0px;
  font-size: 25px;
}
.b2{
    display: block;
    margin: auto;
    background-color: #121212;
    border: 2px solid #121212;
    border-radius: 15px;
    font-size: large;
    padding: 15px 32px;
    color: white;
}
.link{
    display: block;
    text-align: center;
    font-size: 20px;
}
.text{
    display: block;
    text-align: center;
}
.input{
    display: block;
    align:center;
    margin: auto;
    margin-bottom: 5px;
    margin-top: 5px;
    border: 2px solid #121212;
    border-radius: 15px;
    text-align: center;
    padding: 15px 32px;
    font-weight: bold;
    font-size: 15px;
}

